
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
  color: #4a4a4a;
  background-color:#ecebeb;
}

label {
  font-size: 12px;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  color: #424242;
  display: block;
  margin-bottom: 5px;
}
/*
@mixin select-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
  line-height: 38px \0;
  margin-bottom: 2px;
  outline: none;
}

select, input {
  @include select-input();
  height: 40px;
  padding: 0 35px 0 10px;
}

textarea {
  @include select-input();
}

*/