
$mdc-theme-primary:#009688;
$mdc-theme-secondary: #536dfe;
$mdc-theme-background: #95d3cd;

@import "@material/theme/mdc-theme";


*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
  color: #4a4a4a;
  background-color:#ecebeb;
}

label {
  font-size: 12px;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  color: #424242;
  display: block;
  margin-bottom: 5px;
}

.help_text {
  font-size: .87rem;
  color:gray;
}

.validation_error {
  font-size: .87rem;
  color:red;
}

.material-icons {
  font-size:1.5rem !important;
}

.mdc-text-field {
  width: 100%;
}